        <footer class="text-dark text-center font-weight-bold p-1 w-100" style="position:fixed; bottom:0; box-shadow: 0 -2px 12px black; background:#e9ecef">Copyrighted &copy; by Jeeta</footer>
    </body>
</html>