<% include partials/header %>
<div class="container-fluid">
    <div class="jumbotron text-center landing-image">
        <h1 class="display-4 text-center font-weight-light text-light">Home Page</h1>
        <a href="/campgrounds/new" class="btn btn-primary ">Add new Image Post</a>
        <a href="/campgrounds" class="btn btn-primary">View Images</a>
    </div>
</div>


<% include partials/footer %>